.auth{
  background: url(../../Images/wallpaperAO.jpg) no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  min-height: 100%;
  height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  color: black;
}

.error{
  color: red;
}

/*content*/
.blur-back{
  background: rgba(255,255,255,0.7);
}
.btn-margin-bottom{
  margin-bottom: 15px;
}
.error{
  color: red;
}

.pagination-wrapper{
  text-align: center;
}
.pagination > .active > span{
  background-color: green;
  border-color: green;
}
.pagination > .active > span:hover{
  background-color: green;
  border-color: green;
}
.pagination a{
  color: green;
}

.sex-radio{
  font-weight: normal;
}

.thumb{
  max-width: 100%;
  max-height: 150px !important;
}

/* IMAGES */
.image-thumb{
  max-width: 100px;
  max-height: 100px;
}
.image-show{
  max-width: 100%;
}
audio{
  max-width: 100%;
}

.module-show-image{
  max-width: 100%;
  max-height: 100px;
  margin: auto;
}

/*MEDIA MAX 767px*/
@media (max-width:767px) {

  #page-wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    left: 0;
    opacity: 1;
  }

  #page-wrapper.active #sidebar-wrapper {
    left: 300px;
    width: 300px;
    transition: all 0.4s ease 0s;
  }

  #menu-toggle {
    display: inline-block;
    margin-top: 20px;
  }
}