h3 .count{
  background-color: #476f3d;
  color: #fff;
  padding: 0 0.4em;
  font-size: 0.7em;
  text-align: center;
  border-radius: 35%;
  margin-left: 0.2em;
}
.error-list{
  list-style-type: none;
  padding-left: 0;

  .count
  {
    display: inline-block;
    background-color: #476f3d;
    color: #fff;
    width: 3em;
    text-align: center;
    margin-right: 0.5em;
    border-radius: 20%;
    padding: 0.3em 0.7em 0em 0.7em;
    position: relative;
    top: -0.1em;
    font-size: 0.8em;
  }
}

.red
{
  color: red;
}

.add-item {
  background-color: $color-green-sea;
  padding: 8px 10px 8px 10px;

  .fa {
    color: $color-white !important;
  }
}

.add-item:hover {
  background-color: $color-dark-green-sea
}

.sidebar--admin {
  color: $color-white;
  font-size: 1.8rem;
  border-top: 1px solid $color-white;
  padding: 25px 0 25px 10px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 0; top: 0; bottom: 0; width: 100%; height: 100%; }
.se-pre-con {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 9999;
  background: url('../../images/Preloader_3.gif') center no-repeat #fff;
}