// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.

#page-wrapper > div:nth-child(1) > nav
{
  background-color:$color-dark-blue;

  .profile {
    background-color: $color-green-sea ;
  }

  .profile:hover {
    background-color: $color-dark-green-sea;
  }
}