<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">Voeg een kind toe</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal form-create-admin" name="admin.createChildForm">
                    <div class="alert alert-success" role="alert" ng-if="admin.succesMessage!=null">{{
                        admin.succesMessage }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Voornaam*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Voornaam" ng-model="admin.givenname"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.givenname!=null"
                               ng-repeat="singleError in admin.errorMessage.givenname">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Familienaam*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Familienaam" ng-model="admin.name"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.name!=null"
                               ng-repeat="singleError in admin.errorMessage.name">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email*</label>

                        <div class="col-sm-9">
                            <input type="email" class="form-control" placeholder="naamvoornaam@example.be"
                                   ng-model="admin.email" required>

                            <p class="label label-danger" ng-if="admin.errorMessage.email!=null"
                               ng-repeat="singleError in admin.errorMessage.email">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Geslacht*</label>
                        <label class="control-label sex-radio">Man</label>
                        <input type="radio" name="sex" value="m" ng-model="admin.sex">
                        <label class="control-label sex-radio">Vrouw</label>
                        <input type="radio" name="sex" value="f" ng-model="admin.sex">

                        <p class="label label-danger" ng-if="admin.errorMessage.sex!=null"
                           ng-repeat="singleError in admin.errorMessage.sex">
                            <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Straat*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Straatnaam" ng-model="admin.street"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.street!=null"
                               ng-repeat="singleError in admin.errorMessage.street">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Huisnummer*</label>

                        <div class="col-sm-9">
                            <input type="number" class="form-control" placeholder="123" ng-model="admin.streetnumber"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.streetnumber!=null"
                               ng-repeat="singleError in admin.errorMessage.streetnumber">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Postcode*</label>

                        <div class="col-sm-9">
                            <input type="number" class="form-control" placeholder="9000" ng-model="admin.postalcode"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.postalcode!=null"
                               ng-repeat="singleError in admin.errorMessage.postalcode">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Stad*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Gent" ng-model="admin.city" required>

                            <p class="label label-danger" ng-if="admin.errorMessage.city!=null"
                               ng-repeat="singleError in admin.errorMessage.city">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Initialen*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="JLT" ng-model="admin.initials"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.initials!=null"
                               ng-repeat="singleError in admin.errorMessage.initials">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Geboortedatum*</label>

                        <div class="col-sm-9">
                            <input class="form-control datepicker" placeholder="dd-mm-yyyy" ng-model="admin.birthdate"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.birthdate!=null"
                               ng-repeat="singleError in admin.errorMessage.birthdate">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Logopedist*</label>

                        <div class="col-sm-9">
                            <select name="mySelect" id="mySelect"
                                    ng-options="users.name for users in admin.users track by users.id"
                                    ng-model="admin.defaultUser"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <a class="btn btn--primary" ng-click="admin.createChildCtrl()">Toevoegen</a>
                            <a class="btn btn--primary" href="#/admin/child">Terug naar overzicht</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>

