<div class="side-menu sidebar-inverse" ng-controller="AppController as app">
    <nav class="navbar" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand text-center" href="#/home">
                    <div class="title">Articulatieonderzoek</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li ui-sref-active="active">
                    <a href ui-sref="home">
                        <span class="icon fa fa-home"></span><span class="title">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="child">
                        <span class="icon fa fa-male"></span><span class="title">Kinderen</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a href ui-sref="test">
                        <span class="icon fa fa-bullhorn"></span><span class="title">Testen</span>
                    </a>
                </li>
                <!--<li ui-sref-active="active">-->
                    <!--<a href="#">-->
                        <!--<span class="icon fa fa-book"></span><span class="title">Normering</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li ui-sref-active="active">-->
                    <!--<a href="#">-->
                        <!--<span class="icon fa fa-info"></span><span class="title">About</span>-->
                    <!--</a>-->
                <!--</li>-->

                <li ng-if="app.loggedInUserData.data.role_id == 4" ui-sref-active="active">
                    <a href ui-sref="admin">
                        <span class="icon fa fa-tachometer"></span><span class="title">Dashboard</span>
                    </a>
                </li>
                <li ng-if="app.loggedInUserData.data.role_id == 4" ui-sref-active="active">
                    <a href ui-sref="admin/user">
                        <span class="icon fa fa-users"></span><span class="title">Users</span>
                    </a>
                </li>
                <li ng-if="app.loggedInUserData.data.role_id == 4" ui-sref-active="active">
                    <a href ui-sref="admin/child">
                        <span class="icon fa fa-male"></span><span class="title">Kinderen</span>
                    </a>
                </li>
                <!--<li ng-if="app.loggedInUserData.data.role_id == 4" ui-sref-active="active">-->
                    <!--<a href="/admin/image">-->
                        <!--<span class="icon fa fa-folder-open"></span><span class="title">Figuren</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li ng-if="app.loggedInUserData.data.role_id == 4" ui-sref-active="active">-->
                    <!--<a href="/admin/module">-->
                        <!--<span class="icon fa fa-plus-square"></span><span class="title">Modules</span>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </nav>
</div>