<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger" role="alert" ng-if="admin.errorMessage!=null">{{ admin.errorMessage }}
                </div>
                <div class="alert alert-success" role="alert" ng-if="admin.succesMessage!=null">{{ admin.succesMessage
                    }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">{{ admin.singleChildData.data.child.givenname }} {{
                    admin.singleChildData.data.child.name }}</h1>
            </div>
        </div>
        <div class="row space-top-4">
            <div class="col-xs-12 blur-back">
                <div class="row">
                    <div class="col-xs-3 showlabel">Naam</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleChildData.data.child.givenname }} {{
                        admin.singleChildData.data.child.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Geslacht</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleChildData.data.child.sex }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Postcode</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleChildData.data.child.postalcode }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Initialen</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleChildData.data.child.initials }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Tester</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleChildData.data.child.user.givenname }} {{
                        admin.singleChildData.data.child.user.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Geboortedatum</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleChildData.data.child.birthdate }}</div>
                </div>
                <div class="row">

                    <a href="#/admin/child" class="btn btn--primary col-xs-offset-3 btn-m">Terug naar overzicht</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>