.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.img_responsive {
  width: 100%;
  height:auto;
}

.img_responsive--flex {
  width: 100%;
  height:auto;
  overflow: hidden;
  object-fit: fill;
  -o-object-fit: fill;
}

.no-padding {
  padding: 0;
}

.space-1 {
  margin-bottom: 10px;
}

.space-2 {
  margin-bottom: 15px;
}

.space-3 {
  margin-bottom: 20px;
}

.space-4 {
  margin-bottom: 25px;
}

.space-5 {
  margin-bottom: 30px;
}

.space-6 {
  margin-bottom: 45px;
}

.space-7 {
  margin-bottom: 60px;
}

.space-top-1 {
  margin-top: 10px;
}

.space-top-2 {
  margin-top: 15px;
}

.space-top-3 {
  margin-top: 20px;
}

.space-top-4 {
  margin-top: 25px;
}

.space-top-5 {
  margin-top: 30px;
}

.space-top-6 {
  margin-top: 45px;
}

.space-top-7 {
  margin-top: 60px;
}

.space-top-8 {
  margin-top: 75px;
}