<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">Kinderen</h1>
                <a href="#/child/create" class="btn add-item float-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal space-top-4">
                    <input type="text" placeholder="Zoeken op naam" class="form-control btn-margin-bottom" type="search"
                           ng-model="search">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 blur-back">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-if="child.errorMessage!=null">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ child.errorMessage }}
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-if="child.succesMessage!=null">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ child.succesMessage }}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Naam</th>
                            <th>Geboortedatum</th>
                            <th>Stad</th>
                            <th></th>
                        </tr>
                        <tr ng-if="child.childData.data.children != null"
                            dir-paginate="singleChild in child.childData.data.children | filter:search | itemsPerPage: child.pageSize"
                            current-page="child.currentPage">
                            <td ng-class="{ 'hidden':  showDetails }">{{ singleChild.givenname }} {{ singleChild.name
                                }}
                            </td>
                            <td ng-class="{ 'hidden':  showDetails }">{{ singleChild.birthdate }}</td>
                            <td ng-class="{ 'hidden':  showDetails }">{{ singleChild.city }}</td>
                            <td class="table__edit--buttons" ng-class="{ 'hidden':  showDetails }">
                                <a ng-href="#/child/show/{{ singleChild.id }}">
                                    <i class="fa fa-info"></i>
                                </a>
                                <a ng-href="#/child/edit/{{ singleChild.id }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a ng-click="showDetails = ! showDetails">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                            <td colspan="4" class="alert alert-danger" role="alert"
                                ng-class="{ 'hidden': ! showDetails }">
                                Bent u zeker dat u {{ singleChild.givenname }} {{ singleChild.name }} wilt verwijderen?
                                <a ng-click="child.deleteChildCtrl(singleChild.id)">JA</a>
                                <a ng-click="showDetails = ! showDetails">NEEN</a>
                            </td>

                        </tr>
                        <tr ng-if="child.childData.data.children == null">
                            <td colspan="4"> Er zijn geen kinderen gevonden</td>
                        </tr>
                    </table>
                </div>

                <div class="pagination-wrapper">
                    <dir-pagination-controls boundary-links="true"
                                             on-page-change="child.pageChangeHandler(newPageNumber)"
                                             template-url="templates/partials/pagination.html"></dir-pagination-controls>
                </div>

            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>