<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">Voeg een kind toe</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 blur-back">
                <form class="form-horizontal form-create-child" name="child.createChildForm">
                    <div class="alert alert-success" role="alert" ng-if="child.succesMessage!=null">{{
                        child.succesMessage }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Voornaam*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Voornaam" ng-model="child.givenname"
                                   required>

                            <p class="label label-danger" ng-if="child.errorMessage.givenname!=null"
                               ng-repeat="singleError in child.errorMessage.givenname">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Familienaam*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Familienaam" ng-model="child.name"
                                   required>

                            <p class="label label-danger" ng-if="child.errorMessage.name!=null"
                               ng-repeat="singleError in child.errorMessage.name">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email*</label>

                        <div class="col-sm-9">
                            <input type="email" class="form-control" placeholder="naamvoornaam@example.be"
                                   ng-model="child.email" required>

                            <p class="label label-danger" ng-if="child.errorMessage.email!=null"
                               ng-repeat="singleError in child.errorMessage.email">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Geslacht*</label>
                        <label class="control-label sex-radio">Man</label>
                        <input type="radio" name="sex" value="m" ng-model="child.sex">
                        <label class="control-label sex-radio">Vrouw</label>
                        <input type="radio" name="sex" value="f" ng-model="child.sex">

                        <p class="label label-danger" ng-if="child.errorMessage.sex!=null"
                           ng-repeat="singleError in child.errorMessage.sex">
                            <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Straat*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Straatnaam" ng-model="child.street"
                                   required>

                            <p class="label label-danger" ng-if="child.errorMessage.street!=null"
                               ng-repeat="singleError in child.errorMessage.street">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Huisnummer*</label>

                        <div class="col-sm-9">
                            <input type="number" class="form-control" placeholder="123" ng-model="child.streetnumber"
                                   required>

                            <p class="label label-danger" ng-if="child.errorMessage.streetnumber!=null"
                               ng-repeat="singleError in child.errorMessage.streetnumber">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Postcode*</label>

                        <div class="col-sm-9">
                            <input type="number" class="form-control" placeholder="9000" ng-model="child.postalcode"
                                   required>

                            <p class="label label-danger" ng-if="child.errorMessage.postalcode!=null"
                               ng-repeat="singleError in child.errorMessage.postalcode">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Stad*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Gent" ng-model="child.city" required>

                            <p class="label label-danger" ng-if="child.errorMessage.city!=null"
                               ng-repeat="singleError in child.errorMessage.city">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Initialen*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="JLT" ng-model="child.initials"
                                   required>

                            <p class="label label-danger" ng-if="child.errorMessage.initials!=null"
                               ng-repeat="singleError in child.errorMessage.initials">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Geboortedatum*</label>

                        <div class="col-sm-9">
                            <input class="form-control datepicker" placeholder="dd-mm-yyyy" ng-model="child.birthdate"
                                   required>

                            <p class="label label-danger" ng-if="child.errorMessage.birthdate!=null"
                               ng-repeat="singleError in child.errorMessage.birthdate">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <a class="btn btn--primary" ng-click="child.createChildCtrl()">Toevoegen</a>
                            <a class="btn btn--primary" href="#/child">Terug naar overzicht</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>

