<div class="container auth">
    <div class="space-top-8">
        <div>
            <div class="login-form row">
                <div class="col-sm-12 text-center login-header">
                    <i class="login-logo fa fa-connectdevelop fa-5x"></i>
                    <h4 class="login-title">Articulatieonderzoek</h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6">
                    <div class="login-body">
                        <form name="loginForm" class="form-signin">
                            <div class="alert alert-danger" role="alert" ng-if="auth.errorMessage!=null">{{ auth.errorMessage }}</div>
                            <div class="alert alert-success" role="alert" ng-if="auth.succesMessage!=null">{{ auth.succesMessage }}</div>
                            <div class="form-group control">
                                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="auth.email" required>
                            </div>

                            <div class="form-group control">
                                <input type="password" class="form-control" placeholder="Password" name="password" ng-model="auth.password" required>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="switchAuth" ng-model="auth.switchAuth"> Remember me</label>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn--primary" ng-click="auth.login()">Login</button>
                                <a href="#/register"><button class="btn btn--primary">Registreren</button></a>
                            </div>
                        </form>
                    </div>
                    <div class="login-footer space-top-4">
                        <span class="text-right"><a href="#/reset" class="color-white">Forgot password?</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>