<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">Testen</h1>
                <a href="#/test/create" class="btn add-item float-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal">
                    <input type="text" placeholder="Zoeken op naam" class="form-control btn-margin-bottom" type="search"
                           ng-model="search">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>