<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">Testen</h1>
                <a href="#/test/create" class="btn add-item float-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal">
                    <input type="text" placeholder="Zoeken op naam" class="form-control btn-margin-bottom" type="search"
                           ng-model="search">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 blur-back">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Naam</th>
                            <th>Module</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        <tr ng-if="test.testData.data.tests != null"
                            dir-paginate="singleTest in test.testData.data.tests | filter:search | itemsPerPage: test.pageSize"
                            current-page="test.currentPage">
                            <td>{{ singleTest.patient.givenname }} {{ singleTest.patient.name }}</td>
                            <td>{{ singleTest.module.name }}</td>
                            <td ng-if="singleTest.analyzed!=null">
                                <a href="test/analyze/{{ singleTest.id }}">Analyseren</a>
                            </td>
                            <td ng-if="singleTest.ended!=null">
                                Afgewerkt
                            </td>
                            <td ng-if="singleTest.ended==null">
                                <a href="test/testing/{{ singleTest.id }}">Afwerken</a>
                            </td>

                        </tr>
                        <tr ng-if="test.testData.data.tests == null">
                            <td colspan="3">Er zijn nog geen testen toegevoegd</td>
                        </tr>
                    </table>
                </div>

                <div class="pagination-wrapper">
                    <dir-pagination-controls boundary-links="true"
                                             on-page-change="test.pageChangeHandler(newPageNumber)"
                                             template-url="templates/partials/pagination.html"></dir-pagination-controls>
                </div>


            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>