/*ANALYZE*/
.analyze-image{
  max-width: 100%;
  max-height: 100px;
  margin: auto;
}
.eval-button{
  margin: 0 5px 0 0;
}
.letter{
  padding: 6px 10px;
}
.row-eval, .row-eval-addition{
  margin-bottom: 10px;
}
.addrow-wrapper, .deleterow{
  opacity: 0.6;
}
.sendmistakes{
  margin-top: 20px;
}
#rowaddition{
  display: none;
}
.analyze-row{
  position: relative;
}
.analyze-sending{
  font-size: 50px;
  line-height: 50px;
  position: absolute;
  background: #FFF;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.analyze-sending i{
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-25px 0 0 -25px;
}
.fa-spinner{
  -webkit-animation: spin 1s infinite linear; /* Chrome, Safari, Opera */
  animation: spin 1s infinite linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes spin
{
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

/* Standard syntax */
@keyframes spin
{
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}