.form-create-child{
  margin-top: 4rem;

  input.ng-invalid.ng-touched
  {
    border: 1px solid red;
  }

  .ng-valid.ng-touched
  {
    border: 1px solid green;
  }

  .confirmation
  {
    transition: .8s;
  }
}