// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

#page-wrapper {
  transition: all 0.4s ease 0s;
}

/* SIDEBAR */

#sidebar-wrapper {
  margin-left: -300px;
  left: 300px;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  background: #f0f8ed;
  opacity: 0.75;
  padding-left: 20px;
}
.sidebar-head a h3{
  color: #000;
}

.sidebar-nav{
  list-style: none;
  padding: 0;
}
.sidebar-nav li{
  margin-top: 10px;

  a
  {
    color: #000;
    text-decoration: none;
  }
}
.sidebar-nav-header{
  margin-top: 20px !important;
  font-size: 15px;
  color: #222;
  font-weight: bold;
}

.logout{
  padding-top: 40px;
  font-weight: bold;
}
.table-form{
  display: inline;
}
.form-button{
  border: none;
  background: none;
  padding: 0;
}

.showlabel{
  font-weight: bold;
  text-align: left
}

.btn-m{
  margin-bottom: 15px;
  margin-top: 15px;
}


/* CONTENT WRAPPER */
#page-content-wrapper {
  width: 100%;
}
.inset{
  padding: 0 20px;
}
.fa{
  color: #000;
}
.fa:hover{
  color: green;
  text-decoration: none;
}
.white{
  color: #fff;
}
.white:hover{
  color: #ccc;
}


/* MENU BUTTON */
#menu-toggle{
  display: none;
}
