
.form-signin-heading
{
  margin-top: 8rem;

  span
  {
    font-weight: 600;
  }
}

.remember{
  font-weight: 400;
}

.form-signin, .form-edit-admin, .form-create-admin{
  margin-top: 4rem;

  input.ng-invalid.ng-touched
  {
    border: 1px solid red;
  }

  .ng-valid.ng-touched
  {
    border: 1px solid green;
  }
}

.register-back{
  background: rgba(240, 248, 237, 0.9);
  margin-top: 25px;
}

@media (max-width: 768px) {
  .register-back{
    margin-top: 0;
    overflow: hidden;
  }
}
