.outer-positioning{
  display: table;
  width: 100%;
  height: 100%;
}
.inner-positioning{
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.valign-bottom{
  vertical-align: bottom;
}



.image{
  position: relative;
  float: left;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 31.333333%;
  /*width: 23%;*/
  margin: 1%;
  padding: 1%;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
  /*margin: 15px;*/
  cursor: move;
}
.image.being-repositioned{
  display: none;
}
.aspect-1-1{
  width: 100%;
}
.abs{
  position: absolute;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*padding: 5%;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.image-name{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1.25%;
  padding-top: 1.75%;
  background-color: rgba(71,111,61,0.9);
  display: inline-block;
  width: 100%;
  font-size: 0.8em;
  color: #fff;
  font-weight: lighter;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.hovering{
  z-index: 1001;
}
.image .remove{
  position: absolute;
  right: 0;
  top: 0;
  cursor: default;
  font-size: 1.2em;
}
.image .remove .fa{
  position: relative;
  top: -0.2em;
  text-shadow: -2px -2px #fff;
}
.selectbox{
  padding-left: 1%;
  padding-right: 1%;
}

@media (min-width: 768px){
  .image{
    width: 23%;
  }
}
@media (min-width: 992px){
  .image{
    width: 14.666666%;
  }
}
@media (min-width: 1170px){
  .image{
    width: 10.5%;
  }
}