body{
}
#sidebar-content{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  width: 500px;
  background-color: #476f3d;
}

#main-content{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}
#toolbar-wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
#display-wrapper{
  height: 75vh;
  width: 100%;
}
.test{
  position: absolute;
  left: 50%;
  background-color: #ffff00;
  width: 1px;
  height: 150px;
  top:0;
  z-index: 10;
}
#display-wrapper .container{
  height: 100%;
  text-align: center;
}
#display-wrapper img{
  height: 75vh;
  width: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 2.5%;
  /*border: 1px solid #ff0000;*/
}
.container{
  /*background-color: #00ff00;*/
}
.cs-btn{
  display: inline-block;
  position: relative;
  border: 1px solid #bbb;
  border-radius: 50%;
  cursor: pointer;
  color: #bbb;
  width: 10%;
}
.cs-btn:hover{
  color: #fff;
  background-color: #bbb;
}
.cs-btn.not-clickable:hover{
  color: #bbb;
  background-color: transparent;
  cursor: default;
}
.cs-btn.disabled{
  color: #ddd;
  border: 1px solid #ddd;
  cursor: default;
}
.cs-btn.selected{
  color: #fff;
  background-color: #bbb;
}
.cs-btn.disabled:hover{
  color: #ddd;
  background-color: transparent;
  border: 1px solid #ddd;
}
#btn-record{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #bbb;
  left: 0;
  /*border: 4px solid rgba(0,0,0,0);*/
  border-radius: 50%;
}
#btn-fs{
  margin-left: 2.5%;
}
#btn-record:hover{
  background-color: #aaa;
}
#btn-record.recording:hover{
  background-color: #e30000;
}
#btn-record.disabled{
  background-color: #ddd;
}
#btn-record.disabled:hover{
  background-color: #ddd;
}
#btn-record.recording{
  background-color: #ff0000;
}
.aspect-1-1{
  width: 100%;
}
.center{
  text-align: center;
}
.abs{
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}
.outer-positioning{
  display: table;
  width: 100%;
  height: 100%;
}
.inner-positioning{
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.bg-color{
  color: #fff;
}
.toolbar{
  overflow: visible;
  height: 170px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.toolbar-left .cs-btn{
  float: right;
  margin-left: 1%;
}
.toolbar-left #progress{
  font-size: 1.2em;
  margin-right: 1.5%;
  margin-left: 2.5%;
}
#progress-counter span{
  display: block;
  width: 100%;
  text-align: center;
  line-height: 0.9;
  font-family: 'Arial', sans-serif;
}
#progress-counter .current{
  font-size: 1.4em;
  margin-top: 0.1em;
}
#progress-counter .total{
  font-size: 0.7em;
}
.toolbar{
  display: table;
}
.toolbar-left, .toolbar-center, .toolbar-right{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.toolbar-right .cs-btn{
  margin-right: 1%;
  float: left;
}
.toolbar-left #btn-playback{
  margin-left: 2.5%;
}
.toolbar #btn-backward{
  margin-right: 2.5%;
}
.toolbar #btn-note{
  margin-right: 2.5%;
  margin-left: 1.5%;
}
.toolbar-left{
  width: 40%;
}
.toolbar-right{
  width: 40%;
}
.toolbar-center{
  width: 20%;
  position: relative;
}
.table__edit--buttons
{
  .fa
  {
    min-width: 15px;
    margin-right: 5px;
  }
  a:hover
  {
    text-decoration: none;
  }
  a
  {
    min-width: 15px;
    margin-right: 5px;
  }

}

.fa-backward{
  position: relative;
  left: -5%;
}
.fa-forward{
  position: relative;
  left: 5%;
}
.fa-edit{
  position: relative;
  top: 3%;
}
.fa-lg{
  vertical-align: middle;
}
#audio-viz{
  position: absolute;
  width: 160%;
  left: -30%;
  top: -30%;
  opacity: 0.65;
  z-index: -1;
  /*background-color: #ffff00;
  border-radius: 50%;*/
}
.gradient-spinner{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.08;
  display: none;
}
#btn-record.recording .gradient-spinner{
  display: inline;
}
.gradient-spinner.spinning{
  -webkit-animation: spin 5s infinite;
  -webkit-animation-timing-function: linear;
}
#btn-record .fa{
  position: relative;
  z-index: 2;
}
.fragment-progress{
  position: absolute;
  background-color: transparent;
  top: -2px;
  left: -2px;
}
@-webkit-keyframes spin{
  from{
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
#error{
  position: absolute;
  bottom: 100%;
  width: 100%;
  text-align: center;
}
#error-table{
  position: relative;
  max-width: 40%;
  display: inline-table;
  background-color: #ff747e;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 0.2em;
  border: 1px solid #ff5159;
  color: #b40000;
}
#error-icon{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  padding-right: 0.3em;
}
#error-message{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-size: 0.75em;
}

@media (max-width:1023px) {
  #display-wrapper{
    font-size: 0.8em;
  }
  .cs-btn{
    width: 13.5%;
  }
}

@media (max-width: 767px){
  #display-wrapper{
    font-size: 0.6em;
  }
  #display-wrapper img{
    height: 70vh;
  }
  .toolbar-left #progress{
  }
  .cs-btn{
    width: 30%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-left: 1.666666%;
    margin-right: 1.666666%;
  }
  #btn-fs{
    margin-left: 1.666666%;
    margin-right: 1.666666%;
  }
  .cs-btn:nth-of-type(n+4){
    margin-top: 1.666666%;
  }
  .toolbar-left{
    width: 30%;
  }
  .toolbar-right{
    width: 30%;
  }
  .toolbar-center{
    width: 30%;
  }
  #btn-record{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
  .cs-btn .fa-lg{
    font-size: 1.5em;
  }
  .toolbar{
    height: 190px;
  }
}

/* SIDEBAR */

.row-eval, .row-eval-addition{
  margin-bottom: 10px;
}

.eval-button{
  margin: 0 5px 0 0;
}
.letter{
  text-align: center;
  color: rgba(255,255,255, 0.5);
  font-weight: normal;
  cursor: pointer;
}
.letter:hover{
  color: rgba(255,255,255, 0.8);
}
.row-eval .letter{
  font-size: 1.5em;
  color: #fff;
  cursor: default;
}
.row-eval .letter:hover{
  color: #fff;
}

h4{
  margin-top: 1.5em;
}
.label-default{
  background-color: rgba(255,255,255, 0.3);
  float: left;
}
.deleterow{
  position: relative;
  top: 0.6em;
}
.label .fa{
  cursor: pointer;
}
.phon-error-list{
  margin-top: 0.75em;
}
#notify-unanswered-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}
.nu-container{
  width: 300px;
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
  color: #bbb;
  border-radius: 0.2em;
}
.nu-notification{
  margin-bottom: 1.8em;
}
.nu-buttons div{
  display: inline-block;
  width: 5em;
  border: 1px solid #bbb;
  border-radius: 0.2em;
}
.nu-buttons div:hover{
  color: #fff;
  background-color: #bbb;
  cursor: default;
}

/* ==============================================
   HELPER CLASSES
   ============================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==============================================
   WEBFONTS
   ============================================== */

/* ==============================================
   GLOBAL STYLES
   ============================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   RESPONSIVE STYLES
   ========================================================================== */


/* ==========================================================================
   PRINT STYLES
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow:none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==============================================
   RESPONSIVE STYLES
   ============================================== */
.wrapper{
  margin:0;
  padding:0;
}
.container{
  max-width:1140px;/* MOBILE FIRST */
  margin:0 auto;
  padding:1.041666%;
  padding: 0;
  -webkit-box-sizing:border-box;/*Safari+Chrome*/
  -o-box-sizing:border-box;/*Opera*/
  -moz-box-sizing:border-box;/*Firefox*/
  -ms-box-sizing:border-box;/*IE*/
  box-sizing:border-box;/*W3C*/
}
.container:before,
.container:after{
  display:table;
  content:" ";
}
.container:after{
  clear:both;
}
.cs-row:before,
.cs-row:after{
  display:table;
  content:" ";
}
.row:after{
  clear:both;
}
.cs-col{
  float:left;
  position:relative;
  min-height:1px;
  margin:1.041666%;
  padding:1.041666%;
  -webkit-box-sizing:border-box;/*Safari+Chrome*/
  -o-box-sizing:border-box;/*Opera*/
  -moz-box-sizing:border-box;/*Firefox*/
  -ms-box-sizing:border-box;/*IE*/
  box-sizing:border-box;/*W3C*/
  overflow:hidden;
  /*background:#b3d4fc;*/
  /*height:120px;/*NOT DONE --> BUT NOW UNIT TESTING!!!!*/
}
.col-sc1-12{width:97.91666%;}
.col-sc1-11{width:89.58333%;}
.col-sc1-10{width:81.25%;}
.col-sc1-9{width:72.91666%;}
.col-sc1-8{width:64.58333%;}
.col-sc1-7{width:56.25%;}
.col-sc1-6{width:47.91666%;}
.col-sc1-5{width:39.58333%;}
.col-sc1-4{width:31.25%;}
.col-sc1-3{width:22.91666%;}
.col-sc1-2{width:14.58333%;}
.col-sc1-1{width:6.25%;}

@media (min-width:480px) {
  .col-sc2-12{width:97.91666%;}
  .col-sc2-11{width:89.58333%;}
  .col-sc2-10{width:81.25%;}
  .col-sc2-9{width:72.91666%;}
  .col-sc2-8{width:64.58333%;}
  .col-sc2-7{width:56.25%;}
  .col-sc2-6{width:47.91666%;}
  .col-sc2-5{width:39.58333%;}
  .col-sc2-4{width:31.25%;}
  .col-sc2-3{width:22.91666%;}
  .col-sc2-2{width:14.58333%;}
  .col-sc2-1{width:6.25%;}
}

@media (min-width:768px) {
  .col-sc3-12{width:97.91666%;}
  .col-sc3-11{width:89.58333%;}
  .col-sc3-10{width:81.25%;}
  .col-sc3-9{width:72.91666%;}
  .col-sc3-8{width:64.58333%;}
  .col-sc3-7{width:56.25%;}
  .col-sc3-6{width:47.91666%;}
  .col-sc3-5{width:39.58333%;}
  .col-sc3-4{width:31.25%;}
  .col-sc3-3{width:22.91666%;}
  .col-sc3-2{width:14.58333%;}
  .col-sc3-1{width:6.25%;}
}

@media (min-width:1024px) {
  .col-sc4-12{width:97.91666%;}
  .col-sc4-11{width:89.58333%;}
  .col-sc4-10{width:81.25%;}
  .col-sc4-9{width:72.91666%;}
  .col-sc4-8{width:64.58333%;}
  .col-sc4-7{width:56.25%;}
  .col-sc4-6{width:47.91666%;}
  .col-sc4-5{width:39.58333%;}
  .col-sc4-4{width:31.25%;}
  .col-sc4-3{width:22.91666%;}
  .col-sc4-2{width:14.58333%;}
  .col-sc4-1{width:6.25%;}
}

@media (min-width:1280px) {
  .col-sc5-12{width:97.91666%;}
  .col-sc5-11{width:89.58333%;}
  .col-sc5-10{width:81.25%;}
  .col-sc5-9{width:72.91666%;}
  .col-sc5-8{width:64.58333%;}
  .col-sc5-7{width:56.25%;}
  .col-sc5-6{width:47.91666%;}
  .col-sc5-5{width:39.58333%;}
  .col-sc5-4{width:31.25%;}
  .col-sc5-3{width:22.91666%;}
  .col-sc5-2{width:14.58333%;}
  .col-sc5-1{width:6.25%;}
}

/* ==============================================
   HEADER STYLES
   ============================================== */
/*#header-wrapper{
    background:#000;
}
#header{
    background:#ff0;
}*/

/* ==============================================
   MAIN STYLES
   ============================================== */
/*.menu-toggle{
    display:block;
    padding:8px 12px;
    color:#fff;
    background:#000 url('images/toggle.fw.png') no-repeat right;
    cursor:hand;
    cursor:pointer;
}
#main-navigation{
    padding:0;
}
#main-navigation ul{
    display: none;
    list-style:none;
    margin:0;
    padding:0;
}
#main-navigation ul li{
    border-bottom:1px solid #fff;
}
#main-navigation ul li a{
    display:block;
    padding:8px 12px;
    text-decoration:none;
    color:#fff;
    background:#111;
    text-transform: uppercase;
    font-weight:bold;
    text-align: center;
}
#main-navigation ul li.selected a{
    color:#111;
    background:#f60;
}
@media (min-width:480px){
    .menu-toggle{
        display:none;
    }
    #main-navigation ul{
        display:block;
    }
}

@media (min-width:480px) and (max-width:767px){
    #main-navigation ul li{
        display:block;
        width:48.958335%;
        float:left;
        margin-bottom:2.08333%;
    }
    #main-navigation ul li:nth-of-type(odd){
        margin-right:2.08333%;
    }
}

@media (min-width:768px){
    #main-navigation ul li{
        display:block;
        float:left;
        margin-right:1.041666%;
    }
    #main-navigation ul li:last-of-type{
        margin-right:0;
    }
}*/

/* ==============================================
   MAIN STYLES
   ============================================== */
/*#main-wrapper{
    background:#000;
}
#main-container{
    background:#ff0;
}*/

/* ==============================================
   FOOTER STYLES
   ============================================== */
/*#footer-wrapper{
    background:#000;
}
#footer{
    background:#ff0;
}*/