<!-- Standard Validators -->
<ng-message when="date">Verkeerde datumnotatie: (YYYY-MM-DD).</ng-message>
<ng-message when="email">Dit moet een geldig email-adres zijn.</ng-message>
<ng-message when="required">Dit veld is vereist.</ng-message>
<ng-message when="datetime">Verkeerde notatie: (YYYY-MM-DD HH:MM:SS).</ng-message>
<ng-message when="form.size.$error.min || form.size.$error.max">Je moete minimum 1 en maximum 10 personen meenemen.</ng-message>

<!-- Angular Material Validators -->
<ng-message when="md-maxlength">De tekst is te lang.</ng-message>

<!-- Inloggen -->