<div class="container auth">
    <div class="space-top-8">
        <div>
            <div class="login-form row">
                <div class="col-sm-12 text-center login-header">
                    <i class="login-logo fa fa-connectdevelop fa-5x"></i>
                    <h4 class="login-title">Articulatieonderzoek</h4>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6">
                    <div class="login-body">
                    <form name="loginForm" class="form-signin">
                        <div class="alert alert-danger" role="alert" ng-if="auth.errorMessage!=null">{{ auth.errorMessage }}</div>
                        <div class="alert alert-success" role="alert" ng-if="auth.succesMessage!=null">{{ auth.succesMessage }}</div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="text" class="form-control" placeholder="Voornaam" ng-model="auth.givenname" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.givenname!=null" ng-repeat="singleError in auth.errorMessage.givenname">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="text" class="form-control" placeholder="Familienaam" ng-model="auth.name" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.name!=null" ng-repeat="singleError in auth.errorMessage.name">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="text" class="form-control" placeholder="Straatnaam" ng-model="auth.street" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.street!=null" ng-repeat="singleError in auth.errorMessage.street">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="number" class="form-control" placeholder="123" ng-model="auth.streetnumber" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.streetnumber!=null" ng-repeat="singleError in auth.errorMessage.streetnumber">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="number" class="form-control" placeholder="9000" ng-model="auth.postalcode" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.postalcode!=null" ng-repeat="singleError in auth.errorMessage.postalcode">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="text" class="form-control" placeholder="Gent" ng-model="auth.city" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.city!=null" ng-repeat="singleError in auth.errorMessage.city">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="email" class="form-control" placeholder="naamvoornaam@example.be" ng-model="auth.email" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.email!=null" ng-repeat="singleError in auth.errorMessage.email">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="password" class="form-control" placeholder="Password" ng-model="auth.password" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.password!=null" ng-repeat="singleError in auth.errorMessage.password">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class=" control space-top-1">
                                <input type="password" class="form-control" placeholder="Herhaal Password" ng-model="auth.password_repeat" required>
                                <p class="label label-danger" ng-if="auth.errorMessage.repeatpassword!=null" ng-repeat="singleError in auth.errorMessage.password_repeat">
                                    <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                                </p>
                            </div>
                        </div>
                        <div class="form-group control space-top-1">
                            <button type="submit" class="btn btn--primary" ng-click="auth.registerUser()">Register</button>
                            <a href="#/auth"><button class="btn btn--primary">Login Pagina</button></a>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>