<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-3 col-lg-offset-4 ">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="form-signin-heading"><span>Articulatie</span>Onderzoek</h2>
                    <p>
                        Gelieve hier je e-mailadres in te vullen, dan ontvang je een mail met het nieuwe paswoord.
                    </p>
                    <form name="resetForm" class="form-reset">
                        <div class="alert alert-danger" role="alert" ng-if="auth.errorMessage!=null">{{ auth.errorMessage }}</div>
                        <div class="alert alert-success" role="alert" ng-if="auth.succesMessage!=null">{{ auth.succesMessage }}</div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="auth.email" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" ng-click="auth.reset()">Password resetten</button>
                            <a href="#/auth"><button class="btn btn-default">Inloggen</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>