// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn--primary {
  background-color: $color-dark-blue;
  border: none;
  color: $color-white !important;
}

.btn--primary:hover {
  background-color: $color-clear-dark-blue;
  color: $color-dark-blue;
}

.btn--secondary {
  background-color: $color-green-sea;
  border: none;
  color: $color-white !important;
}

.btn--secondary:hover {
  background-color: $color-dark-green-sea;
  color: white;
}
