.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
.phonetic-chooser-container{
  font-family: Helvetica, Arial, sans-serif;
  display: table;
  width: auto;
  position: absolute;
  left: 500px;
  top: 200px;
  border: 1px solid rgba(100, 165, 83, 0.3);
  border-radius: 5px;
  padding: 0.2em;
  background-color: #fff;
  margin-bottom: 0.3em;
  z-index: 10;
}
.phonetic-item-container{
  float: left;
  width: 2em;
  cursor: default;
}
.phonetic-item-container .phonetic-item{
  margin-left: 0.1em;
  margin-right: 0.1em;
  background-color: #fff;
  border-radius: 0.2em;
  border: 1px solid transparent;
  padding: 0.15em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.phonetic-item-container.selected .phonetic-item{
  border: 1px solid #64a553;
  background-color: rgba(100, 165, 83, 0.3);
}
.phonetic-symbol{
  color: #64a553;
  text-align: center;
  cursor: default;
}
.key{
  margin-top: 0.5em;
  text-align: center;
  font-size: 0.65em;
  color: #777;
  cursor: default;
}