<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

        <div class="page-content inset">
            <div class="row">
                <div class="col-xs-12">

                    <div class="alert alert-danger alert-dismissible" role="alert" ng-if="home.errorMessage!=null">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ home.errorMessage }}</div>
                    <div class="alert alert-success alert-dismissible" role="alert" ng-if="home.succesMessage!=null">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ home.succesMessage }}</div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Laatste onafgewerkte testen</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Kind</th>
                                                <th>Module</th>
                                                <th>Aangemaakt</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-if="home.homeData.data.unfinished != null" ng-repeat="singleTest in home.homeData.data.unfinished.slice(0, 4)" >
                                                <td>{{ singleTest.patient.givenname }} {{ singleTest.patient.name }}</td>
                                                <td>{{ singleTest.module.name }}</td>
                                                <td>
                                                    <a href="test/testing/{{ singleTest.id }}">Afwerken</a>
                                                </td>
                                            </tr>
                                            <tr ng-show="!home.homeData.data.unfinished.length">
                                                <td colspan="4"> Er zijn geen onafgewerkte testen.</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Laatste te analyseren testen</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Kind</th>
                                                <th>Module</th>
                                                <th>Afgewerkt</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-if="home.homeData.data.ended != null" ng-repeat="singleTest in home.homeData.data.ended.slice(0, 4)" >
                                                <td>{{ singleTest.patient.givenname }} {{ singleTest.patient.name }}</td>
                                                <td>{{ singleTest.module.name }}</td>
                                                <td>
                                                    <a href="test/analyze/{{ singleTest.id }}">Analyseren</a>
                                                </td>
                                            </tr>
                                            <tr ng-show="!home.homeData.data.ended.length">
                                                <td colspan="4"> Er zijn geen laatste te analyseren testen.</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Laatst geteste kinderen</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tr>
                                                <th>Kind</th>
                                                <th>Module</th>
                                                <th>Afgewerkt</th>
                                                <th></th>
                                            </tr>
                                            <tr ng-if="home.homeData.data.analyzed != null" ng-repeat="singleTest in home.homeData.data.analyzed.slice(0, 8)" >
                                                <td>{{ singleTest.patient.givenname }} {{ singleTest.patient.name }}</td>
                                                <td>{{ singleTest.module.name }}</td>
                                                <td>
                                                    <a href="test/analyzed/{{ singleTest.id }}">Resultaten</a>
                                                </td>
                                            </tr>
                                            <tr ng-show="!home.homeData.data.analyzed.length">
                                                <td colspan="4"> Er zijn geen afgewerkte testen.</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div ng-include="'templates/common/footer.partial.html'"></div>