<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">User {{ admin.singleUserData.data.user.givenname }} {{
                    admin.singleUserData.data.user.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger" role="alert" ng-if="admin.errorMessage!=null">{{ admin.errorMessage }}
                </div>
                <div class="alert alert-success" role="alert" ng-if="admin.succesMessage!=null">{{ admin.succesMessage
                    }}
                </div>
                <h3>{{ admin.singleUserData.data.admin.givenname }} {{ admin.singleUserData.data.admin.name }}</h3>
            </div>
            <div class="col-xs-12 blur-back">
                <div class="row">
                    <div class="col-xs-3 showlabel">Naam</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleUserData.data.user.givenname }} {{
                        admin.singleUserData.data.user.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Email</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleUserData.data.user.email }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Straat</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleUserData.data.user.street }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Postcode</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleUserData.data.user.postalcode }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Stad</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleUserData.data.user.city }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3 showlabel">Rol</div>
                    <div class="col-xs-9 showvalue">{{ admin.singleUserData.data.user.role.name }}</div>
                </div>
                <div class="row">
                    <a href="#/admin/user" class="btn btn--primary col-xs-offset-3 btn-m">Terug naar overzicht</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>