<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">Bewerk {{ admin.givenname }} {{ admin.name }}</h1>
            </div>
        </div>
        <div class="row space-top-4">
            <div class="col-xs-12 col-sm-10 blur-back">
                <form class="form-horizontal form-edit-admin" name="admin.editChildForm">
                    <div class="alert alert-success" role="alert" ng-if="admin.succesMessage!=null">{{
                        admin.succesMessage }}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Voornaam*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Voornaam" ng-model="admin.givenname"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.givenname!=null"
                               ng-repeat="singleError in admin.errorMessage.givenname">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Familienaam*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Familienaam" ng-model="admin.name"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.name!=null"
                               ng-repeat="singleError in admin.errorMessage.name">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email*</label>

                        <div class="col-sm-9">
                            <input type="email" class="form-control" placeholder="naamvoornaam@example.be"
                                   ng-model="admin.email" required>

                            <p class="label label-danger" ng-if="admin.errorMessage.email!=null"
                               ng-repeat="singleError in admin.errorMessage.email">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Straat*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Straatnaam" ng-model="admin.street"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.street!=null"
                               ng-repeat="singleError in admin.errorMessage.street">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Huisnummer*</label>

                        <div class="col-sm-9">
                            <input type="number" class="form-control" placeholder="123" ng-model="admin.streetnumber"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.streetnumber!=null"
                               ng-repeat="singleError in admin.errorMessage.streetnumber">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Postcode*</label>

                        <div class="col-sm-9">
                            <input type="number" class="form-control" placeholder="9000" ng-model="admin.postalcode"
                                   required>

                            <p class="label label-danger" ng-if="admin.errorMessage.postalcode!=null"
                               ng-repeat="singleError in admin.errorMessage.postalcode">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Stad*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Gent" ng-model="admin.city" required>

                            <p class="label label-danger" ng-if="admin.errorMessage.city!=null"
                               ng-repeat="singleError in admin.errorMessage.city">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Role*</label>

                        <div class="col-sm-9">
                            <select name="mySelect" id="mySelect"
                                    ng-options="dropdown.name for dropdown in admin.dropdown track by dropdown.id"
                                    ng-model="admin.userrole"></select>

                            <p class="label label-danger" ng-if="admin.errorMessage.city!=null"
                               ng-repeat="singleError in admin.errorMessage.city">
                                <i class="fa fa-exclamation-triangle"></i> {{ singleError }}
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <a class="btn btn--primary" ng-click="admin.editUserCtrl()">Bewerken</a>
                            <a class="btn btn--primary" href="#/admin">Terug naar overzicht</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>

