<div id="page-wrapper">
    <div ng-include="'templates/common/header.partial.html'"></div>
    <div ng-include="'templates/common/sidenav.html'"></div>
    <div ng-include="'templates/common/content-wrapper.partial.html'"></div>

    <div class="page-content inset">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="float-left">Users</h1>
                <a href="#/admin/user/create" class="btn add-item float-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal">
                    <input type="text" placeholder="Zoeken op naam" class="form-control btn-margin-bottom" type="search"
                           ng-model="search">
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 blur-back">
                <div class="alert alert-danger alert-dismissible" role="alert" ng-if="admin.errorMessage!=null">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ admin.errorMessage }}
                </div>
                <div class="alert alert-success alert-dismissible" role="alert" ng-if="admin.succesMessage!=null">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ admin.succesMessage }}
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>Naam</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        <tr ng-if="admin.newUsersData.data.users != null"
                            dir-paginate="singleUser in admin.newUsersData.data.users | filter:search | itemsPerPage: admin.pageSize"
                            current-page="admin.currentPage">
                            <td ng-class="{ 'hidden':  showDetails }">{{ singleUser.givenname }} {{ singleUser.name }}
                            </td>
                            <td ng-class="{ 'hidden':  showDetails }">{{ singleUser.email }}</td>
                            <td ng-class="{ 'hidden':  showDetails }">{{ singleUser.role.name }}</td>
                            <td class="red" ng-class="{ 'hidden':  showDetails }" ng-if="singleUser.locked !== null">
                                Locked
                            </td>
                            <td ng-class="{ 'hidden':  showDetails }" ng-if="singleUser.locked == null"></td>
                            <td class="table__edit--buttons" ng-class="{ 'hidden':  showDetails }">
                                <a ng-href="#/admin/user/show/{{ singleUser.id }}">
                                    <i class="fa fa-info"></i>
                                </a>
                                <a ng-href="#/admin/user/edit/{{ singleUser.id }}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a ng-click="showDetails = ! showDetails" ng-show="singleUser.role_id != 4">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                                <a ng-click="admin.lockUserCtrl(singleUser.id)" ng-if="singleUser.locked == null"
                                   ng-show="singleUser.role_id != 4">
                                    <i class="fa fa-unlock"></i>
                                </a>
                                <a ng-click="admin.unlockUserCtrl(singleUser.id)" ng-if="singleUser.locked !== null"
                                   ng-show="singleUser.role_id != 4">
                                    <i class="fa fa-lock"></i>
                                </a>
                            </td>
                            <td colspan="4" class="alert alert-danger" role="alert"
                                ng-class="{ 'hidden': ! showDetails }">
                                Bent u zeker dat u {{ singleUser.givenname }} {{ singleUser.name }} wilt verwijderen?
                                <a ng-click="admin.deleteUserCtrl(singleUser.id)">JA</a>
                                <a ng-click="showDetails = ! showDetails">NEEN</a>
                            </td>

                        </tr>
                        <tr ng-show="!admin.newUsersData.data.users.length">
                            <td colspan="4"> Er zijn geen Users gevonden</td>
                        </tr>
                    </table>
                </div>

                <div class="pagination-wrapper">
                    <dir-pagination-controls boundary-links="true"
                                             template-url="templates/partials/pagination.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'templates/common/footer.partial.html'"></div>
